body {
    background-color: black;
}

.menu-toggle { /*LÄMNA KOMMENTAR*/
    display: none;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1100;
    color: white;
}

.nav-image { /*Bakgrundsbilden till Nav */
    background-image: url('/Webbutveckling2/Projekt/bilder/startbild.jpg');
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*Kolla upp*/
}

.nav-container { /*Container runt nav-baren */
    display: flex;
    position: absolute;
    margin: 20px; /* Justera denna */
    width: auto;
    background-color: black;
    padding: 20px;
    overflow: hidden;
    
}

.nav-container a {
    float: left; /* Justera denna */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-container a:hover {
    background-color: white;
    color: black;
}

.article-image {
    background-image: url('/Webbutveckling2/Projekt/bilder/Untitled\ design3.png');
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.article-container {
    position: absolute;
    margin: 20px; 
    width: auto;
    padding: 20px;
    overflow: hidden;

}

article h1 {
    
    float: left;
    color: white;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 150px;
    
}

article p {
    padding-left: 150px;
    color: white;
    width: 640px;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* BILDGALLERY*/

h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  

}

.gallerycontainer{
    width:auto;
    
    max-width:var(--frame-width);
    padding:30px;
    background:var(--frame-bg);
    border-radius:14px;
    box-shadow:0 10px 40px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.02); /* Shadow effect */
}

.slider{
  position:relative;
  width:100%;
  height:400px;
  overflow:hidden;
  border-radius:10px;
}

/*Every slide/image*/
.slide {
  height: 600px;
  position:absolute;
  inset:0; 
  opacity:0; /* Start invisible */
  transform:scale(.98);
  transition:opacity .7s ease,transform .7s ease,filter .7s ease;
  filter:blur(1px) grayscale(.15) saturate(.9); /* Make it hidden/blurry*/
  display:flex;
  align-items: center;
  justify-content: center;
   
}

.slide img {
  width:100%;
  height: 600px;
  overflow: hidden;
  object-fit:cover;
  border-radius:10px
  
}

/*Active slide/image*/
.slide.active{
  opacity:1; /*Make the active slide visible now*/
  transform:scale(1);
  filter:blur(0) grayscale(0) saturate(1); /*Make it colorful and not blurry*/
}

/* CONTAINER TILL DOTSEN */
.dotcontainer{position:relative;
  margin-top:12px;
  display:flex;
  gap:10px;
  justify-content:center
}

.dot { /*DOT KNAPPARNA */
  width:12px;
  height:12px;
  border-radius:999px;
  background: aquamarine;
  cursor:pointer; /*change the cursor to hand when hovering*/
  transition:all .18s ease
}

/*Dots when active*/
.dot.active {
  background:var(--accent);
  transform:scale(1.15)} /*Make it bigger*/

/***************************************************/



.contact-img {
    background-image: url('/Webbutveckling2/Projekt/bilder/design1.png');
    max-height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


  .contact-img h1{
    display: absolute;
    float: left;
    color: white;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 150px;

    
}

.contact-img label {
    margin-top: 1px;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;/*mellanrum mellan labelelementen*/
    font-size: 42px;
    color: white;
    max-width: 500px;
}

.contact-img input, textarea, select{
    /*samma här, block för att göra till blockelement.*/
    display: block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

input[type=submit]:hover{
    background-color: aquamarine;
}

footer {
    display: flex;
    /*lägger child items längst ner vertikalt och i mitten horizontalt*/
    align-items: center;
    justify-content: center;
    gap:2%;
    height: 120px;
    padding-bottom: 15px;
    
}

.footer-container p{
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.footer-container a{
    display: inline-flex; /*Kolla upp!!!!*/
    align-items: center;
    text-decoration: none;
    font-size:25px;
    color: white;
    padding-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}

.footer-container a:hover {
    color: aquamarine;
}

.footer-container i {
    color: inherit;
    padding: 20px;
    
    
}



@media (max-width: 1429px) {

    .contact-img label {
        font-size: 21px;
    }


}


@media (max-width: 926px) {

    .nav-image {
        height: 50%;
    }

  .nav-container a{
    display: none; /* Gömmer menyn under bredden 926px */
    text-decoration: none;
    display: block; /* Gör den till vertikal meny */
   
  }

  .nav-container a:hover{
    background-color: white;
    color: black;

  }

    .nav-container { /*KOlla upp denna */
    display: none;
    flex-direction: column; /*Hör till med nedan display flex*/
    background-color: none;
    position: absolute;
    top: 15px; 
    left: 40px;
    width: 200px;
    color: black;
    z-index: 1000; /* Kolla upp denna */
  }

    /* När menyn ska visas */
  .nav-container.visible { /* Detta är alltså scroll down menyn */
    display: flex; 
    background-color: black;
    margin-left: 210px;
    border: 10px, white solid;
    border-bottom-right-radius: 40px;
    
    
    }

   .menu-toggle { /*Hamburgar-knappen */
    display: block;
    background: none;
    border: none;
    font-size: 100px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1100;
    color: white;
  }

    marquee img {
    height: 100px;
  }

  .article-image h1 {
    font-size: 50px;
    padding-left: 75px;
  }

  article p {
    font-size: 21px;
    padding-left: 75px;
    width: 220px;
  }

  .contact-img{
    height: 50%;
  }

  .contact-img label {
    font-size: 21px;
  }

  .contact-img input, textarea, select{
    
    width: 30%;

    
  }

  .contact-img h1{
    font-size: 60px;
    float: right;
    padding-right: 40px;
    color: white;
    text-align: center;
  }

  .footer-container p{
    
    font-size: 10px;
  }
}